<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClashLogin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>527B9AE11E86D4AB000A6398</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>527B9AF51E86D4AB000A6398</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>527B9B001E86D4AB000A6398</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
